body{
    background-color: dimgrey;
}
#carouselExampleInterval {
    height: 33%;
    min-height: 350px;
    max-width: 100%;
    max-height: 300px;
}

img {
    height: 33%;
    min-height: 350px;
    max-height: 350px;
}

.container div {
    min-width: 90% !important;
    background-color: whitesmoke;
}
.mainCon {
    min-height: 100% !important;
    height: 2000px;
    opacity: .8;
    min-width: 90% !important;
    background-color: whitesmoke;

}
.footerCon{
    background-color: darkorange;
    max-height: 10%;
    min-height: 100px;
}
.navbar {
    background-color: darkorange;
}
li a {
    color: black;
}