<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <th:block th:include="/partials/header"/>
</head>
<body>
<th:block th:include="/partials/navbar"/>

<div class="container containerEdit">
    <form th:action="@{/posts/edited}" th:method="post" th:object="${post}">
        Id:<p th:text="*{id}"></p>
        <input type="hidden" name="id" th:value="${post.id}"/>
        Title:
        <input th:field="*{title}"/>
        <br/>
        Body:
        <input th:field="*{body}"/>
        <br/>
        Image Link:
        <input th:name="images" th:field="${images}" />
        <br/>
        Categories:
        <input th:type="checkbox" th:field="*{categories}" th:each="category : ${categories}" th:text="${category.getName()}" th:value="${category.getId()}" />
        <input type="submit"/>
    </form>
</div>


<th:block th:include="/partials/footer"/>
</body>
</html>
