<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <th:block th:include="/partials/header"/>
</head>
<body>
<th:block th:include="/partials/navbar"/>

<div>
    <h2 th:text="${post.id}"></h2>
    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.body}"></p>
    <p th:each="cat : ${post.categories}" th:text="${cat.getName()}" alt="categories" ></p>
    <img th:each="img : ${post.getImages()}" th:src="${img.getPath()}" alt="pics" />
    <form action="/posts" method="get">
        <p><input type="submit" value="home"/></p>
    </form>
    <!--        Joins the tables V-->
    <a href="#" th:text="${post.owner.username}"></a>


</div>


<th:block th:include="/partials/footer"/>
</body>
</html>
