<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<nav th:fragment="navbar">
    <nav class="fader navbar navbar-expand-lg navbar-light navbar-fixed fixed-top">
        <a class="navbar-brand" href="/home">RPG Me</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/posts/create">Create</a>
                </li>
                <li class="nav-item active" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <a class="nav-link" style="margin-top: 8px">Logout</a>
                    </form>
                </li>
                <li class="nav-item active" sec:authorize="isAnonymous()">
                    <form th:action="@{/login}" th:method="post">
                        <a class="nav-link" style="margin-top: 8px">Login</a>
                    </form>
                </li>
                <li class="nav-item active" sec:authorize="isAnonymous()">
                    <form th:action="@{/sign-up}" th:method="post">
                        <a class="nav-link" style="margin-top: 8px">Sign Up</a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</nav>


</body>
</html>
